body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

input, textarea, select {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    display: inline-block;
}

#deck, #title {
    background-color: #FFF9C4;
    text-align: center;
}

select {
    width: 320px;
}

textarea {
    height: 30px;
    resize: none;
    overflow: hidden;
}

textarea.expanding {
    resize: none;
    height: auto;
}

.flashcard-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 160px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#next-btn {
    background-color: #4CAF50;
}

#last-btn {
    background-color: #FF9800;
}

button:hover {
    opacity: 0.8;
}

input[readonly], textarea[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

input#url {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
