body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 120px;
    display: inline-block;
    vertical-align: top;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    display: inline-block;
}

textarea {
    height: 30px; /* Initially one line */
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Expand automatically when the content overflows */
}

textarea.expanding {
    resize: none;
    height: auto;
}

.flashcard-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
}

.flashcard-row {
    margin-bottom: 10px;
}

input[readonly], textarea[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

input#url {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
